@using Vinabook.Models;
@*Định nghĩa kiểu dữ liệu cho biến Model*@
@model List<Sach>

<div class="related-products-wrapper">
    <h2 class="related-products-title">Tài Liệu gần đây</h2>
    <div class="related-products-carousel">
        @foreach (var item in Model)
        {
            <div class="single-product">
                <div class="product-f-image">
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+item.AnhBia)" alt="">
                    <div class="product-hover">
                        
                        <a href="@Url.Action("XemChiTiet", new { @masach=item.MaSach })" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                    </div>
                </div>

                <h2><a href="@Url.Action("XemChiTiet", new { @masach=item.MaSach })">@item.TenSach</a></h2>

                <div class="product-carousel-price">
                   
                </div>
            </div>
        }
        
    </div>
</div>
