
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>&emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;Thư viện Đại học Đại Nam</h1>
<center><img src="~/Content/HinhAnh/bookshelf.jpg" /></center>

