@using Vinabook.Models
@model List<ChiTietDonHang>
<div class="row margin-b">
    @if (false)//Session["TaiKhoan"] != null)
    {
        <div class="pull-right"><button class="btn btn-info" onclick="HoTro()">Trở Về h</button></div>
    }
    else
    {
        <div class="pull-right"><button class="btn btn-info" onclick="Check()">Trở Về</button></div>
    }
</div>

